<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">


<head th:fragment="headerfiles(title)">
	<title>attivita</title>
	<link href="../../static/css/bootstrap/css/bootstrap.css" rel="stylesheet"
		th:href="@{/css/bootstrap/css/bootstrap.css}">
	<link rel="stylesheet" href="/css/base-style.css">
	<link rel="icon" type="image/x-icon" href="../../images/favicon-32x32.png">
</head>

<body class="sfondoCartina1" style="color: white;background-color: black;">
	<header th:replace="fragments/base.html :: intestazioneAutenticato"></header>

	<div class="row my-4 text-danger" th:unless="${attivita}">
		<h4> Questa attivita non esiste</h4>
	</div>

	<div class="row my-4" th:if="${attivita}">
		<div class="col">
			<h3>Dettagli attivita</h3>
		</div>
	</div>

	<div class="row my-2" th:if="${attivita}">
		<div class="col-12 col-lg-8 align-self-center">
			<div class="row my-3">
				<div class="col">
					<h2 th:text="${attivita.nome}">Escursione</h2>
				</div>
			</div>
			<div class="row my-3">
				<div class="col-10">
					<p th:text="${attivita.descrizione}">Passeggiata in montagna</p>
				</div>
				<div class="col-2">
					<p th:text="${attivita.durata}+' ore'">2 ore</p>
				</div>
			</div>
		</div>
		<h5 th:if="${attivita.materiali != null and #lists.size(attivita.materiali) > 0}">Materiali suggeriti per questa attivita:</h5>
		<div class="row my-3 scrollable">
			<div class="col-10">
				<ul>
					<li th:each="materiale : ${attivita.materiali}">
						<a href="#" th:href="@{'/protected/materiale' + '/' + ${materiale.id}}"
							th:text="${materiale.nome}">Borraccia</a>
					</li>
				</ul>
			</div>
		</div>

	</div>

	<footer th:replace="fragments/base.html :: fondo"></footer>
</body>

</html>