<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">


<head th:fragment="headerfiles(title)">
	<title>materiale</title>
	<link href="../../static/css/bootstrap/css/bootstrap.css" rel="stylesheet"
		th:href="@{/css/bootstrap/css/bootstrap.css}">
	<link rel="stylesheet" href="/css/base-style.css">
	<link rel="icon" type="image/x-icon" href="../../images/favicon-32x32.png">
</head>

<body class="sfondoCartina1" style="color: white;background-color: black;">
	<header th:replace="fragments/base.html :: intestazioneAutenticato"></header>

	<div class="row my-4 text-danger" th:unless="${materiale}">
		<h4> Questo materiale non esiste</h4>
	</div>

	<div class="row my-4" th:if="${materiale}">
		<div class="col">
			<h3>Dettagli materiale</h3>
		</div>
	</div>

	<div class="row my-2" th:if="${materiale}">
		<div class="col-12 col-lg-8 align-self-center">
			<div class="row my-3">
				<div class="col">
					<h2 th:text="${materiale.nome}">Borraccia</h2>
				</div> 
			</div>
			<div class="row my-3">
				<div class="col-10">
					<p th:text="${materiale.descrizione}">Nuova borraccia color argento di Roma Tre</p>
				</div>
				<div class="col-2">
					<p th:text="${materiale.prezzo}+' €'">10.00€</p>
				</div>
			</div>
		</div>
		<div class="col-12 col-lg-4">
			<img alt="tool picture" class="img-fluid rounded-3" style=" width:200px;height:200px;"
				th:src="@{${materiale.photosImagePath}}" />
		</div>
	</div>

	<footer th:replace="fragments/base.html :: fondo"></footer>
</body>

</html>