<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<title>Dettagli persona</title>
</head>

<body>
	<header th:replace="fragments/base.html :: intestazione"></header>

	<form th:action="@{/persona}" method="POST" th:object="${persona}" enctype="multipart/form-data">
		<div th:if="${#fields.hasGlobalErrors()}">
			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">Errore globale</p>
		</div>
		<div>
			nome: <input type="text" th:field="*{nome}" />
			<div th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></div>
		</div>
		<div>
			cognome: <input type="text" th:field="*{cognome}" />
			<div th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}"></div>
		</div>
		<div>
			eta: <input type="text" th:field="*{eta}" />
			<div th:if="${#fields.hasErrors('eta')}" th:errors="*{eta}"></div>
		</div>
		<div>
			<div>Immagine</div>
			<div>dimensione massima del file 10 MB</div>
			<label>Photos: </label>
			<input type="file" name="image" required accept="image/png, image/jpeg" />
			<div th:if="${#fields.hasErrors('photos')}" th:errors="*{photos}"></div>
		</div>
		<div>
			<button type="submit">Conferma</button>
		</div>
	</form>
</body>

</html>