<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<title>Dettagli persona</title>
</head>

<body>
	<header th:replace="fragments/base.html :: intestazione"></header>

	<div>
		<h4>Dettagli persona</h4>
		<div><span th:text="${persona.nome}">Paolo</span>
			<span th:text="${persona.cognome}">Rossi</span>
			<span th:text="${persona.eta}">55</span>  
			<img style=" width:200px;height:200px;" th:src="@{${persona.photosImagePath}}" />

		</div>  
	</div>
	 <footer><a href="/">Home</a></footer>
</body>

</html>