<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<title>Elenco Persone</title>
</head>

<body>
	<header th:replace="fragments/base.html :: intestazione"></header>

	<h4>Elenco Persone: le persone sono <span th:text="${numPersone}"></span></h4> 
	<table>
		<tr>
			<th>Nome</th>
			<th>Cognome</th>
			<th>Eta</th>
		</tr>

		<tr th:each="persona:${persone}">
			<td th:text="${persona.nome}">nome</td>
			<td th:text="${persona.cognome}">cognome</td>
			<td th:text="${persona.eta}">eta</td>

			<td><a href="persona.html" th:href="@{'/persona'+'/'+${persona.id}}" th:text="dettagli">dettagli</a>
			</td>
			<td><a href="persona.html" th:href="@{'/toDeletePersona'+'/'+${persona.id}}" th:text="cancella">cancella</a>
			</td>
			<td><a href="persona.html" th:href="@{'/updatePersona'+'/'+${persona.id}}" th:text="modifica">modifica</a>
			</td>
		</tr>

		 
	</table>
	<footer><a href="/">Home</a></footer>
</body>

</html>