<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<title>Conferma Cancellazione</title>
</head>

<body>
	<header th:replace="fragments/base.html :: intestazione"></header>

	<h1>Persona da cancellare:</h1>
	<div><span th:text="${persona.nome}">Paolo</span>
		<span th:text="${persona.cognome}">Rossi</span>
		<span th:text="${persona.eta}">55</span>  
	</div>  
	<div> <a href="persona.html" th:href="@{'/deletePersona'+'/'+${persona.id}}" th:text="CONFERMA">CONFERMA</a>
	</div>

</body>

</html>